# Anthropic
ANTHROPIC_API_KEY=your_key_here
ANTHROPIC_BASE_URL=https://cc.freemodel.dev

# 
PORT=400
JWT_SECRET=change_this_random_string

# Privy
PRIVY_APP_ID=your_privy_app_id
PRIVY_SECRET=your_privy_app_secret
PRIVY_CLIENT=your_privy_client_id

# Sui
SUI_RPC_URL=https://fullnode.mainnet.sui.io
SUI_AGENT_KEY=your_sui_agent_key

# CCTP (Circle)
CCTP_SUI_MESSENGER=0x<circle_sui_messenger_address>

# Trade mode: mock | live
TRADE_MODE=mock
