# Anthropic
ANTHROPIC_API_KEY=your_key_here
ANTHROPIC_BASE_URL=https://cc.freemodel.dev

# Server
PORT=4000
JWT_SECRET=change_this_random_string

# Privy
PRIVY_APP_ID=cmpeku47e000l0ci6ejcg63m5
PRIVY_SECRET=privy_app_secret_4YcFnVHraZvSbF32DFMiQU8dXavQM6fvmAY6gsQ8BzsYLJazQYFropwcFY34VTTXc5deTbGyicDrWTDpuekRiaZ4
PRIVY_CLIENT=client-WY6ZY2GgYnU5DsSSRvek32KmnJd8dekwW82EXnYEM31FR

# Arbitrum
ARBITRUM_RPC_URL=https://arb1.arbitrum.io/rpc
AGENT_PRIVATE_KEY=your_agent_wallet_private_key

# Sui
SUI_RPC_URL=https://fullnode.mainnet.sui.io
SUI_AGENT_KEY=your_sui_agent_key

# CCTP (Circle)
CCTP_SUI_MESSENGER=0x<circle_sui_messenger_address>
CCTP_ARB_MESSENGER=0x<circle_arb_messenger_address>
CCTP_ARB_TRANSMITTER=0x<circle_arb_transmitter_address>

# Trade mode: mock | live
TRADE_MODE=mock
